@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "./app/directives/mat-table-responsive.directive.scss";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: serif;
}

p {
    margin: 0px;
}

.table-center {
    display: flex;
    justify-content: center;
}

.giotaAndNikos {
    font-size: 120px;
    font-weight: 800;
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    height: 290px;
}

.date{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(54, 54, 54);
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.dateWedding {
    font-weight: 600;
}

.barcelona {
    height: 400px;
}

// * {
//     background-color: #f7f6ec;
// }