button {
  text-decoration: none;
  display: inline-block;
  color: #303030;
  background-color: #f9d6bc;
  border-radius: 7px;
  width: auto;
  border-top: 1px solid #f9d6bc;
  border-right: 1px solid #f9d6bc;
  border-bottom: 1px solid #f9d6bc;
  border-left: 1px solid #f9d6bc;
  padding-top: 8px;
  padding-bottom: 13px;
  font-family: "Lato", Tahoma, Verdana, Segoe, sans-serif;
  text-align: center;
  word-break: keep-all;
}

button:hover {
  background-color: #ca79ab;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  // transform: translateY(-2px);
}
