<div>
    <button type="submit" [disabled]="buttonDisabled" class="p-2">
        <a target="_blank">
            <span style="padding-left:30px;padding-right:30px;font-size:18px;display:inline-block;letter-spacing:4px;">
                <span style="font-size: 16px; line-height: 2; word-break: break-word;">
                    <span data-mce-style="font-size: 18px; line-height: 36px;"
                        style="font-size: 18px; line-height: 36px;">
                        <strong>{{text}}</strong>
                    </span>
                </span>
            </span></a>
    </button>
</div>