<div class="d-flex flex-column justify-content-center"
    style=" background-color: #5d4643; background-position: center top;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;color:#ffffff;">


    <div class="p-3">
        <p><span style="font-size:17px;"><strong><span style="color:#ffffff;">
                        {{'footer.contactMessage' | translate}}</span></strong></span>
        </p>
    </div>

    <div class="footer-inner-container">
        <div style="width: 200px;">
            <div>
                <p><span style="color:#ffffff;">{{'footer.nick' | translate}}:</span><br /><span
                        style="color:#ffffff;">6973520579</span><br /><span style="color:#ffffff;"><a
                            href="mailto:renoszisis@gmail.com" style="color:#ffffff;">nikosk89@gmail.com</a></span>
                </p>
            </div>


            <div class="d-flex justify-content-center p-3">
                <div style="padding:0 2px 0 2px;"><a href="https://instagram.com/novus89" target="_blank"><img
                            alt="Instagram" height="32" src="/assets/images/instagram2x.png"
                            style="display: block; height: auto; border: 0;" title="Instagram" width="32" /></a>
                </div>
                <div style="padding:0 2px 0 2px;"><a href="https://twitter.com/nikkanell" target="_blank"><img
                            alt="Twitter" height="32" src="/assets/images/twitter2x.png"
                            style="display: block; height: auto; border: 0;" title="Twitter" width="32" /></a>
                </div>
            </div>
        </div>

        <div style="width: 200px;">
            <div>
                <p><span style="color:#ffffff;">{{'footer.giota' | translate}}:</span><br /><span
                        style="color:#ffffff;">6971585379</span><br /><span style="color:#ffffff;"><a
                            href="mailto:renoszisis@gmail.com" style="color:#ffffff;">g.lafiatoglou@gmail.com</a></span>
                </p>
            </div>


            <div class="d-flex justify-content-center p-3">
                <div style="padding:0 2px 0 2px;"><a href="https://www.instagram.com/giota_laf/" target="_blank"><img
                            alt="Instagram" height="32" src="/assets/images/instagram2x.png"
                            style="display: block; height: auto; border: 0;" title="Instagram" width="32" /></a>
                </div>
                <div style="padding:0 2px 0 2px;"><a href="https://twitter.com/giota_laf" target="_blank"><img
                            alt="Twitter" height="32" src="/assets/images/twitter2x.png"
                            style="display: block; height: auto; border: 0;" title="Twitter" width="32" /></a>
                </div>
            </div>
        </div>
    </div>

    <div class="p-3" style="font-size: 14px">
        <div>
            {{'footer.ibanMessage' | translate}}
        </div>
        <div>
            IBAN: GR19 0171 6680 0066 6810 8635 803
        </div>
    </div>

</div>