<mat-dialog-content>
    <form [formGroup]="_form" autocomplete="off" novalidate>
        <table>
            <tbody formArrayName="data">
                <tr *ngFor="let array of getDataControl; index as i" [formGroupName]="i">
                    <td>
                        <mat-form-field class="form-element pr-2">
                            <input matInput placeholder="name" formControlName="lastName">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="form-element pr-2">
                            <input matInput placeholder="email" formControlName="email">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="form-element pr-2">
                            <input matInput type="number" placeholder="phone number" formControlName="mobile">
                        </mat-form-field>
                    </td>
                    <td>
                        <button class="delete-button" (click)="_removeRow(i)" type="button" mat-mini-fab color="warn" matTooltip="Delete" [matTooltipPosition]="'below'">
                            <mat-icon>close</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td class="">
                        <button class="button-tooltip" mat-icon-button color="primary" (click)="_addRow()" matTooltip="Add new" [matTooltipClass]="'my-tooltip'" [matTooltipPosition]="'below'">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button *ngIf="_form.value.data?.length > 0" mat-icon-button color="primary"  matTooltip="Submit" [matTooltipPosition]="'below'" (click)="onSubmit()">
                            <mat-icon style="color: green;">check</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

</mat-dialog-content>