<div class="d-flex justify-content-center align-items-center wedding-container">

    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="nikosGiota"> Giota & Nikos</h1>
        <div class="main-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi magnam quos culpa
            ratione blanditiis
            obcaecati aspernatur officiis consequuntur possimus explicabo. Repellendus, necessitatibus soluta. Unde
            excepturi est architecto eum illo fugiat?
        </div>
        <div class="date">
            10 April 2022
        </div>
        <div class="countDown">
            <app-count-down> </app-count-down>
        </div>
        <div class="p-4">
            <ng-content></ng-content>
        </div>
    </div>

</div>