.wedding-photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

// .barcelona{
//     width: 225px;
// }

@media screen and (max-width: 600px) {
    .barcelona, .new-york {
      padding: 2px;
    }
    .giotaAndNikos{
        font-size: 60px;
    }
  }
