<div class="d-flex justify-content-center align-items-center w-100"
    style="font-family: 'Helvetica Neue', Helvetica, sans-serif;">

    <div class="d-flex flex-column justify-content-center w-100 align-items-center" style=" background-color: #f7f6ec;">
        <div class="d-flex justify-content-end w-100">

            <select data-placeholder="Choose a Language..." (change)="onChange($event.target.value)"
                style="padding: 2px;background-color: #f7f6ec;">
                <option *ngFor="let language of languages" [value]="language.value" style="padding: 2px;"
                    [selected]="language.value === selectedLang">
                    {{language.label}}
                </option>
            </select>
        </div>
        <div
            style=" background-color: #f7f6ec; background-image: url('/assets/images/Header_BG.png'); background-repeat: no-repeat;">
            <div style="line-height:10px" class="d-flex justify-content-center">
                <img src="/assets/images/Save-the-Date.png"
                    style="display: block; height: auto; border: 0; width: 171px; max-width: 100%;" width="171" />
            </div>
        </div>

        <div class="w-100 pt-2 pb-2" style="background-image: url('https://static.wixstatic.com/media/d12fac_3bb3175fe475479ba845034881fa8a70~mv2.jpg/v1/fill/w_980,h_720,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01/d12fac_3bb3175fe475479ba845034881fa8a70~mv2.webp');
             background-position: top center; 
                background-repeat: no-repeat;
                background-position-y: -100px;">

            <div class="d-flex flex-column justify-content-center align-items-center">
                <p class="giotaAndNikos">
                    <span>Nikos & Giota</span>
                </p>

            </div>
        </div>
        <div class="date">
            <span style="font-size: 18px;">{{'wedding.p1' | translate}}
            </span>
            <p class="mt-3 dateWedding" style="font-size: 24px;"><span>{{'wedding.dateWedding' | translate}}</span></p>
            <div class="table-center">
                <div class="table-center" style=" color: #000000;">
                    <div class="column"
                        style=" font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;"
                        width="16.666666666666668%">
                        <div class="spacer_block" style="height:30px;line-height:5px;font-size:1px;"> 
                        </div>
                    </div>
                    <div class="column"
                        style=" font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;"
                        width="16.666666666666668%">
                        <div class="image_block">

                            <div
                                style="width:100%;padding-right:0px;padding-left:0px;padding-top:25px;padding-bottom:5px;">
                                <div style="line-height:10px"><img alt="divider" src="/assets/images/Detail_1.png"
                                        style="display: block; height: auto; border: 0; width: 80px; max-width: 100%;"
                                        title="divider" /></div>
                            </div>

                        </div>
                    </div>
                    <div class="column"
                        style=" font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;"
                        width="33.333333333333336%">
                        <table cellpadding="0" cellspacing="0" class="text_block" role="presentation"
                            style=" word-break: break-word;" width="100%">
                            <tr>
                                <div style="padding-bottom:15px;padding-left:10px;padding-right:10px;padding-top:15px;">
                                    <div>
                                        <div style="color: #555555; line-height: 1.2;">
                                            <p class="dateWedding"
                                                style="margin: 0;text-align: center; letter-spacing: 2px;">
                                                <span style="font-size:17px;">19:00 </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        </table>
                    </div>

                    <div class="column"
                        style=" font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;"
                        width="16.666666666666668%">
                        <table cellpadding="0" cellspacing="0" class="image_block" role="presentation" width="100%">
                            <tr>
                                <div
                                    style="width:100%;padding-right:0px;padding-left:0px;padding-top:25px;padding-bottom:5px;">
                                    <div style="line-height:10px"><img alt="divider" src="/assets/images/Detail_1.png"
                                            style="display: block; height: auto; border: 0; width: 80px; max-width: 100%;"
                                            title="divider" /></div>
                                </div>
                            </tr>
                        </table>
                    </div>
                    <div class="column"
                        style=" font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;"
                        width="16.666666666666668%">
                        <div class="spacer_block" style="height:30px;line-height:5px;font-size:1px;"> 
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div style="font-size: 20px;font-weight: 600;padding-bottom: 14px;">{{'wedding.church' | translate}}</div>

        <div>
            <div>
                <div class="p-3">
                    <div style="font-size: 18px; color: #555555; line-height: 1.2;">
                        <p>
                            {{'wedding.families' | translate}}:<br />{{'wedding.familyNames' | translate}}</p>
                        <p>
                        </p>
                        <hr>
                        <p>
                            {{'wedding.bestMen' | translate}}:<br />{{'wedding.bestMenNames' | translate}}
                    </div>
                </div>

                <div class="countDown p-3">
                    <app-count-down> </app-count-down>
                </div>

                <div>
                    <ng-content></ng-content>
                </div>
            </div>
        </div>

        <div class="w-75">
            <div class="wedding-photos pb-4">
                <div class="p-2">
                    <img src="/assets/images/barcelona BW2.png" width="225px" class="barcelona" title="Barcelona" />
                </div>
                <div class="p-2">
                    <img src="/assets/images/proposal BW.jpg" width="225px" class="new-york" title="New york" />
                </div>
            </div>


            <div style="font-size: 12px; color: #393d47; line-height: 1.2;">
                <p style="margin: 0; font-size: 28px; text-align: center; letter-spacing: normal;">
                    <strong>
                        <a href="https://www.ktimavelli.gr/">
                            <span style="font-size:20px;">{{'wedding.place' | translate}} </span>
                        </a>
                    </strong>
                </p>
                <p style="margin: 0; font-size: 28px; text-align: center; letter-spacing: normal;">
                    <strong><span style="font-size:20px;"><span style="color:#898989;">{{'wedding.location' |
                                translate}}</span></span></strong>
                </p>
                <p style="height: 20px;">
                </p>
            </div>


            <div style="text-align:center;
            display: flex;justify-content: center;">
                <div style="display: flex;justify-content: center;width: 458px;">
                    <iframe height="400"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12599.554900944695!2d23.876337!3d37.862894!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x78c609fcec67a88c!2zzprPhM6uzrzOsSDOks6tzrvOu863!5e0!3m2!1sel!2sgr!4v1643886975693!5m2!1sel!2sgr"
                        style="border:0;" width="100%"></iframe>
                </div>
            </div>


            <div class="p-5" style="font-size: 12px;color: #393d47; line-height: 1.2;">
                <p style="margin: 0; text-align: center; letter-spacing: normal;color: #898989;">
                    <span style="font-size:20px;font-weight: 700;">
                        {{'wedding.afterWedding' | translate}}</span>
                </p>
            </div>

        </div>
    </div>
</div>


<app-footer></app-footer>