<mat-sidenav-container class="h-100">
  <mat-sidenav #sidenav class="sidebar-container">
    <div>
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>

    </div>
  </mat-sidenav>

  <mat-sidenav-content class="align-self-center">

    <div class="sidebar-container sidebar-container-expand">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="float-right">
        <button mat-icon-button class="example-icon favorite-icon" *ngIf="auth.isAuthenticated()" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </div>

    <div class="h-100">
      <ng-content></ng-content>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>