.sidebar-container {
    background-color: rgb(226, 222, 222);
    mat-icon {
        color: rgb(124, 121, 121);
    }
}

.sidenav-content {
    height: 100%;
}

.sidebar-container-expand{
    padding-top: 10px;
    padding-bottom: 10px;
}