<app-navbar>
    <div>
        <div class="ml-2 p-1">
            <button mat-icon-button color="primary" aria-label="New invitation" (click)="addNewInvitation()"
                matTooltip="Create new Invitation" [matTooltipPosition]="'below'">
                <mat-icon>add</mat-icon>
            </button>
            <button *ngIf="this.selection.selected.length > 0" mat-icon-button color="primary"
                aria-label="send invitation" (click)="sendEmailsToListOfUsers()" matTooltip="Send email"
                [matTooltipPosition]="'below'">
                <mat-icon>mail_outline</mat-icon>
            </button>
            <!-- <button *ngIf="this.selection.selected.length > 0" mat-icon-button color="primary"
                aria-label="send invitation" (click)="generateQRcode()" matTooltip="Create QR code"
                [matTooltipPosition]="'below'">
                <img style="width: 20px;" src="https://media.istockphoto.com/photos/close-up-of-qr-code-example-picture-id518484289?b=1&k=20&m=518484289&s=170667a&w=0&h=BUUk5uL07zoKIq1yMGqMGy8AGSv33nBE48xoss6vDeg=">
            </button> -->
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" class="h-100">

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let element;let i=index">{{i+1}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element">{{element.email ? element.email : 'NA'}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <!-- <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef>Mobile</th>
                <td mat-cell *matCellDef="let element">{{element.mobile? element.mobile : 'NA'}}</td>
            </ng-container> -->

            <!-- Symbol Column -->
            <ng-container matColumnDef="registered">
                <th mat-header-cell *matHeaderCellDef>Registered</th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox class="d-flex justify-content-center" [checked]="element.registered"
                        [color]="'primary'" [disableRipple]="true" (click)="$event.preventDefault()">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Adults -->
            <ng-container matColumnDef="adults">
                <th mat-header-cell *matHeaderCellDef>Adults</th>
                <td mat-cell *matCellDef="let element">{{element.numberOfAdults}}</td>
            </ng-container>

            <!-- Children Column -->
            <ng-container matColumnDef="children">
                <th mat-header-cell *matHeaderCellDef>Children</th>
                <td mat-cell *matCellDef="let element">{{element.numberOfChildren}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="emailSent">
                <th mat-header-cell *matHeaderCellDef>Email Received</th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox class="d-flex justify-content-center" [checked]="element.emailSent"
                        [color]="'primary'" [disableRipple]="true" (click)="$event.preventDefault()">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Qr Code -->
            <ng-container matColumnDef="qrcode">
                <th mat-header-cell *matHeaderCellDef>QR Code</th>
                <td mat-cell *matCellDef="let element">
                    <div class="d-flex justify-content-center">
                        <mat-checkbox [checked]="element.qrcode" [color]="'primary'" [disableRipple]="true"
                            (click)="$event.preventDefault()">
                        </mat-checkbox>
                    </div>
                </td>
            </ng-container>

            <!-- Actions -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                    <div class="d-flex justify-content-center">
                        <div class="p-1">
                            <button mat-button color="primary" aria-label="send invitation"
                                (click)="sendEmailToUser($event, element._id)" matTooltip="Send email"
                                [matTooltipPosition]="'below'">
                                <mat-icon>mail_outline</mat-icon>
                            </button>
                        </div>
                        <div class="p-1">
                            <button *ngIf="!element.qrcode" mat-button color="primary" aria-label="send invitation"
                                (click)="generateQRcode($event,element)" matTooltip="Generate QRCode"
                                [matTooltipPosition]="'below'">
                                <mat-icon>settings</mat-icon>
                            </button>
                            <button *ngIf="element.qrcode" mat-button color="primary" aria-label="send invitation"
                                (click)="displayQRcode($event,element)" matTooltip="Display QRCode"
                                [matTooltipPosition]="'below'">
                                <mat-icon>search</mat-icon>
                            </button>
                        </div>

                    </div>
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <!-- <ng-container matColumnDef="smsSent">
                <th mat-header-cell *matHeaderCellDef>Sms Received</th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox class="d-flex justify-content-center" [checked]="element.smsSent" [color]="'primary'"
                        [disableRipple]="true" (click)="$event.preventDefault()">
                    </mat-checkbox>
                </td>
            </ng-container> -->

            <!-- Symbol Column -->
            <!-- <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef >Date Created</th>
        <td mat-cell *matCellDef="let element">{{element.dateCreated | date:'short'}}</td>
    </ng-container> -->

            <!-- Symbol Column -->
            <!-- <ng-container matColumnDef="dateRegistered">
        <th mat-header-cell *matHeaderCellDef>Date Registered</th>
        <td mat-cell *matCellDef="let element">{{element.dateAccepted ? (element.dateAccepted | date:'short') : 'NA'}}</td>
    </ng-container> -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>

        </table>
    </div>

</app-navbar>