<app-navbar></app-navbar>
<div>
    <div class="ml-2 p-1 d-flex">
        <button mat-icon-button color="primary" aria-label="New invitation" (click)="addNewInvitation()"
            matTooltip="Create new Invitation" [matTooltipPosition]="'below'">
            <mat-icon>add</mat-icon>
        </button>
        <div *ngIf="this.selection.selected.length > 0">
            <button mat-icon-button color="primary" aria-label="send invitation" (click)="sendEmailsToListOfUsers()"
                matTooltip="Send email" [matTooltipPosition]="'below'">
                <mat-icon>mail_outline</mat-icon>
            </button>
            <button mat-button color="primary" (click)="deleteInvitations($event)" matTooltip="Delete"
                [matTooltipPosition]="'below'">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>

    <table mat-table matTableResponsive [dataSource]="sortedData" class="mat-elevation-z8 demo-table" class="h-100"
        *ngIf="dataSource.data?.length > 0" matSort (matSortChange)="sortData($event)">

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>No</th>
            <td mat-cell *matCellDef="let element;let i=index">{{i+1}}</td>
            <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{element.email ? element.email : 'NA'}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <!-- <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef>Mobile</th>
                <td mat-cell *matCellDef="let element">{{element.mobile? element.mobile : 'NA'}}</td>
            </ng-container> -->

        <!-- Symbol Column -->
        <ng-container matColumnDef="registered">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Registered</th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox class="d-flex justify-content-center" [checked]="element.registered" [color]="'primary'"
                    [disableRipple]="true" (click)="$event.preventDefault()">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Adults -->
        <ng-container matColumnDef="adults">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Adults</th>
            <td mat-cell *matCellDef="let element">{{element.numberOfAdults}}</td>
        </ng-container>

        <!-- Children Column -->
        <ng-container matColumnDef="children">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Children</th>
            <td mat-cell *matCellDef="let element">{{element.numberOfChildren}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="emailSent">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Received</th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox class="d-flex justify-content-center" [checked]="element.emailSent" [color]="'primary'"
                    [disableRipple]="true" (click)="$event.preventDefault()">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Qr Code -->
        <ng-container matColumnDef="qrcode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>QR Code</th>
            <td mat-cell *matCellDef="let element">
                <div class="d-flex justify-content-center">
                    <mat-checkbox [checked]="element.qrcode" [color]="'primary'" [disableRipple]="true"
                        (click)="$event.preventDefault()">
                    </mat-checkbox>
                </div>
            </td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element" class="actions">
                <div class="d-flex justify-content-center">
                    <div class="p-1">
                        <button mat-button color="primary" aria-label="send invitation"
                            (click)="sendEmailToUser($event, element._id)" matTooltip="Send EMAIL"
                            [matTooltipPosition]="'below'">
                            <mat-icon>mail_outline</mat-icon>
                        </button>
                    </div>
                    <div class="p-1">
                        <button *ngIf="!element.qrcode" mat-button color="primary"
                            (click)="generateQRcode($event,element)" matTooltip="Generate QRCode"
                            [matTooltipPosition]="'below'">
                            <mat-icon>settings</mat-icon>
                        </button>
                        <button *ngIf="element.qrcode" mat-button color="primary"
                            (click)="displayQRcode($event,element)" matTooltip="Display QRCode"
                            [matTooltipPosition]="'below'">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                    <div class="p-1">
                        <button mat-button color="primary" (click)="copyInvitationToClipboard($event,element)"
                            matTooltip="Copy URL" [matTooltipPosition]="'below'"
                            [cdkCopyToClipboard]="inviteUrl + element.uuid">
                            <mat-icon>file_copy</mat-icon>
                        </button>
                    </div>
                    <div class="p-1">
                        <button mat-button color="primary" (click)="deleteInvitation($event,[element._id])"
                            matTooltip="Delete" [matTooltipPosition]="'below'">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="totalAmountTitle">
            <td *matFooterCellDef class="d-flex justify-content-end align-items-center h-100"><strong>Total</strong>
            </td>
        </ng-container>
        <ng-container matColumnDef="totalAdults">
            <td *matFooterCellDef>{{getTotalAdults()}}</td>
        </ng-container>
        <ng-container matColumnDef="totalChildren">
            <td *matFooterCellDef>{{getTotalChildren()}}</td>
        </ng-container>
        <ng-container matColumnDef="emptyFooter">
            <td *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedTotalColumns"></tr>
    </table>
</div>