table {
    width: 100%;
}

td,
th {
    text-align: center !important;
    vertical-align: middle !important;
    padding: 15px;
}

th.mat-sort-header-sorted {
    color: black;
    margin-left: 10px;
}

::ng-deep .mat-sort-header-button {
    text-align: left;
}

td.actions {
    /* row padding */
    padding: 16px 0;
    /* row border */
    border-left: 1px solid lightsteelblue;
}

::ng-deep .mat-sort-header-container{
    display: flex;
    justify-content: center;
}