<div class="d-flex flex-column justify-content-center align-items-center">
    <!-- <div class="d-flex flex-column justify-content-center align-items-center p-4" style="font-size: 22px;" >
        <div>ΣΑΒΒΑΤΟ</div>
       <strong>2 ΙΟΥΛΙΟΥ 2022</strong>
    </div> -->

    <div class="timer" *ngIf="daysToDday">
        <!-- <h4> Count down timer </h4> -->
        <span id="days"> {{daysToDday}} </span>Day(s)
        <span id="hours"> {{hoursToDday}} </span>Hrs
        <span id="minutes"> {{minutesToDday}} </span>Min
        <span id="seconds"> {{secondsToDday}} </span>S
    </div>
</div>